<!-- View for Weekly view of habits -->

<div class="container">
    <% if(user) { %>
        <h5 style="color: #189AB4">Hi <%= user.name %>!
        </h5>
        <% } %>

            <h4 class="mt-4">Weekly View</h4>
            <% if(habits.length==0) {%>
                <p>No habits yet, Create your first habit now!</p>

                <% } else {%>

                    <% habits.forEach((habit)=>{ %>

                        <div class="habit-container my-3">
                            <h5>
                                <%= habit.name %>
                            </h5>

                            <div class="d-flex justify-content-evenly align-items-center mt-3">
                                <% habit.tracker.forEach(entry=> { %>
                                    <div class="text-center">
                                        <p style="margin-bottom: 0px;">
                                            <%= entry.day %>
                                        </p>
                                        <% let customClass="rounded-circle p-2 " , disabledStatus="" ; %>
                                            <!-- Disabling all the dates before habit creation date -->
                                            <% if(new Date(entry.dateString) < new Date(habit.createdOn))
                                                disabledStatus="disabled" ; %>
                                                <!-- Adding color classes based on habit status -->
                                                <% if(entry.status=="Done" ) {customClass+="bg-light-green" } else
                                                    if(entry.status=="Not done" ) {customClass+="bg-light-red" }%>
                                                    <button type="button" class="<%=customClass %>"
                                                        id="<%=entry.dateString %>" style="width: 45px;"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#changeStatus-<%=entry.dateString %>-<%= habit._id %>"
                                                        <%=disabledStatus %>>
                                                        <%= entry.date %>
                                                    </button>

                                                    <!-- Modal section to show popup with options to change habit status -->
                                                    <div class="modal model-sm fade"
                                                        id="changeStatus-<%=entry.dateString %>-<%= habit._id %>"
                                                        tabindex="-1" aria-labelledby="changeStatus" aria-hidden="true">
                                                        <div class="modal-dialog modal-dialog-centered"
                                                            style="max-width: 300px; margin: auto;">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="exampleModalLabel">
                                                                        Choose Status</h5>
                                                                    <button type="button" class="btn-close"
                                                                        data-bs-dismiss="modal"
                                                                        aria-label="Close"></button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <form action="/tracker" method="post">
                                                                        <input class="form-control" name="habitId"
                                                                            value="<%= habit._id %>" hidden>

                                                                        <input class="form-control" name="date"
                                                                            value="<%= entry.dateString %>" hidden>

                                                                        <input type="radio" class="btn-check"
                                                                            name="status" value="Done"
                                                                            id="status-done-<%= entry.dateString %>-<%= habit._id %>"
                                                                            autocomplete="off">
                                                                        <label class="btn btn-outline-secondary"
                                                                            for="status-done-<%= entry.dateString %>-<%= habit._id %>">Done</label>

                                                                        <input type="radio" class="btn-check"
                                                                            name="status" value="Not done"
                                                                            id="status-not-done-<%= entry.dateString %>-<%= habit._id %>"
                                                                            autocomplete="off">
                                                                        <label class="btn btn-outline-secondary"
                                                                            for="status-not-done-<%= entry.dateString %>-<%= habit._id %>">Not
                                                                            done</label>

                                                                        <div class="mt-3"><button type="submit"
                                                                                class="btn custom-btn">Update</button>
                                                                        </div>

                                                                    </form>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                    </div>
                                    <% }) %>
                            </div>
                        </div>

                        <%}) %>

                            <% } %>
</div>
